@import url('normalize.css');
@import url('var.css');
@import url('fonts.css');

/* Базовые стили */
body {
  font-family:'Montserrat Regular', sans-serif;
  padding-top: var(--header-height);
}

p {
  line-height: 1.5rem;
  opacity: 0.9;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input, select {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  width: 100%;
}

textarea {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border-color: var(--input-border-color);
  width: 100%;
  height: 8rem;
}

a {
  text-decoration: none;
  font-family: inherit;
  opacity: 0.9;
}

input:focus, textarea:focus, select:focus {
  outline-color: var(--brown-color-opacity);
  outline-style: solid;
  outline-width: medium;
}

input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  accent-color: var(--brown-color);
}

input[type="checkbox"]:focus {
  outline: none;
}

label {
  display: inline-block;
  color: var(--text-grey-color);
  opacity: 0.9;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.btn {
  font-family:inherit;
  padding: 0.5rem 1rem;
  min-width: 150px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

section {
  position: relative;
  box-sizing: border-box;
  font-family:inherit;
  padding: 4rem 2.5rem;
  overflow: hidden;
}

.section_title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  opacity: 0.9;
}

.card {
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.popup_and_form {
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 20px;
}

.close_btn {
  height: 30px;
  width: 30px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* Нужно докумекать вынос стилей, чтобы без дублей было */

/* Стили для анимации загрузки */
.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--text-grey-color);
  border-top: 2px solid transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Стили для header */
header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  background-color: var(--white-background-opacity-min);
  height: var(--header-height);
  width: 100%;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  box-shadow: var(--shadow);
  z-index: 100;
}

.logo {
  font-family: 'Pacific Regular';
  color: var(--brown-color);
  line-height: 1.4;
  font-size: 1.2rem;
}

.header_links {
  display: flex;
  gap: 1.2rem;
}

.header_links a{
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-grey-color);
}

.header_links a:hover {
  color: var(--brown-color);
}

.btn_wrapper {
  justify-content: space-between;
  align-items: center;
}

#contact_mobile {
  display: none;
  min-width: max-content;
}

.burger_btn {
  display: none;
  height: 20px;
  width: 25px;
  padding-left: 1rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  border-radius: 100px;
  background-color: var(--text-grey-color);
}

.contact {
  font-size: 1.1rem;
  background-color: var(--brown-color);
  color: var(--white-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.contact img {
  height: 1rem;
  width: 1rem;
}

/* Стили для модального окна */
.overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-open {
  overflow: hidden;
}

.modal_links {
  display: none;
  overflow: hidden;
}

.modal_links_content {
  position: absolute;
  top: 0;
  height: max-content;
  width: 100%;
  background-color: var(--cream-background);
  box-shadow: var(--shadow-big);
}

.modal_close {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--brown-color);
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--cream-background);
  cursor: pointer;
}

.modal_links__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, max-content));
  gap: 0.5rem;
  justify-content: space-around;
  padding: 1rem;
}

.modal_links__list a {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--text-grey-color);
  cursor: pointer;
}

/* Стили для popup заявки */
.popup_form {
  display: none;
  padding: 3rem;
}

.popup_form form{
  padding: 1rem;
  overflow-y: auto; 
}

.popup_form_content {
  position: relative;
  max-height: 100%;
  background-color: var(--white-background);
}

.popup_form__close {
  position: absolute;
}

.popup_form__close::before,
.popup_form__close::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 90%;
  height: 3px; 
  border-radius: 100px;
  background-color: var(--text-grey-color);
}

.popup_form__close::before {
  transform: rotate(45deg);
}

.popup_form__close::after {
  transform: rotate(-45deg);
}

.popup_form_title {
  color: var(--brown-dark-color);
}

/* Стили для popup после отправки */
.popup_success {
  display: none;
  padding: 3rem;
}

.popup_success_content {
  position: relative;
  max-height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--white-background);
}

.popup_success_title {
  padding: 0 1rem;
  color: var(--brown-dark-color);
}

.popup_success_text {
  font-family: 'Pacific Regular';
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 100;
  text-align: center;
  color: var(--text-grey-color);
  background-color: var(--green-color);
}

.popup_success_btn {
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--brown-color);
  color: white;
}

/* Стили для секции с банером */
.banner {
  padding: 0;
  background-color: var(--banner-background);
  height: 100vh;
  max-height: 700px;
}

.hero-text {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2vw; 
  color: var(--brown-dark-color);
  opacity: 0.8;
}

.square_1 {
  position: absolute;
  width: 20vw;
  height: 20vw;
  top: 5%;
  left: 10%;
  background-color: var(--brown-sqare-1-color);
  opacity: 0.2;
  border-radius: 40px;
  transform: rotate(25deg);
}

.square_2 {
  position: absolute;
  width: 18vw;
  height: 18vw;
  top: 15%;
  right: 15%;
  background-color: var(--brown-color);
  opacity: 0.1;
  border-radius: 30px;
  transform: rotate(15deg);
}

.square_3 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  bottom: 20%;
  left: 20%;
  background-color: var(--brown-sqare-2-color);
  opacity: 0.15;
  border-radius: 50px;
  transform: rotate(45deg);
}

.square_4 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  bottom: 10%;
  right: 25%;
  background-color: var(--brown-dark-color);
  opacity: 0.1;
  border-radius: 45px;
  transform: rotate(35deg);
}

.square_5 {
  position: absolute;
  width: 15vw;
  height: 15vw;
  top: 40%;
  left: 30%;
  background-color: var(--brown-color);
  opacity: 0.15;
  border-radius: 25px;
  transform: rotate(60deg);
}

.square_6 {
  position: absolute;
  width: 19vw;
  height: 19vw;
  top: 30%;
  right: 35%;
  background-color: var(--brown-sqare-2-color);
  opacity: 0.2;
  border-radius: 35px;
  transform: rotate(25deg);
}

.square_7 {
  position: absolute;
  width: 21vw;
  height: 21vw;
  bottom: 35%;
  right: 15%;
  background-color: var(--brown-sqare-1-color);
  opacity: 0.15;
  border-radius: 40px;
  transform: rotate(15deg);
}

.square_8 {
  position: absolute;
  width: 18vw;
  height: 18vw;
  bottom: 45%;
  left: 15%;
  background-color: var(--brown-dark-color);
  opacity: 0.1;
  border-radius: 30px;
  transform: rotate(45deg);
}

.main_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_wrapper span{
  position: absolute;
  bottom: 20%;
  color: var(--brown-dark-color);
  opacity: 0.8;
  font-family: inherit;
  font-weight: 700;
  font-size: 8vw;
}

.main_wrapper img{
  position: absolute;
  width: 70vw;
  align-self: center;
}

.banner_firstname {
  left: 2%;
  z-index: 0;
}

.banner_secondname {
  right: 2%;
  z-index: 0;
}

/* Стили для секции с бегущей строкой */
.marquee {
  background-color: var(--marquee-background);
  padding: 2vw 2vw;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee_double {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-200%); }
}

.marquee_container {
  display: flex ;
  overflow: hidden;
}

.marquee_content {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--brown-color);
  font-size: 2vw;
  font-weight: 600;
  animation: marquee 20s linear infinite;
}

.bullet {
  width: 0.75vw;
  height: 0.75vw;
  border-radius: 10px;
  background-color: var(--brown-color);
}

.set {
  animation: marquee_double 20s linear infinite;
  animation-delay: 10s;
}

/* Стили для секции "Обо мне" */
.about {
  background-color: var(--white-background);
  z-index: -2;
}

.about_title {
  color: var(--brown-dark-color);
  margin-bottom: 3rem;
}

.about_content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.avatar {
  box-sizing: border-box;
  display: flex;
  aspect-ratio: 1 / 1;
  width: 16rem;
  height: 16rem;
  background: var(--brown-dark-color);
  border-radius: 100%;
  box-shadow: var(--shadow-big);
  border-color: var(--brown-sqare-2-color);
  border-width: 4px;
  border-style: solid;
  overflow: hidden;
}

.avatar img {
  object-fit: cover;
  object-position: top;
}

.about_text {
  position: relative;
  box-sizing: border-box;
  width: 60%;
  padding: 2.5rem;
  border-radius: 50px;
  background-color: rgb(232 212 182 / 0.249);
}

.about_text span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--brown-color);
  opacity: 0.9;
}

.about_text p {
  color: var(--text-grey-color);
}

/* Стили для секции "Почему я?" */
.why_me {
  background-color: var(--cream-background);
}

.why_me_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why_me_title {
  color: var(--brown-dark-color);
  margin-bottom: 3rem;
}

.why_me_title__text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.why_me_title__text p {
  margin-bottom: 0.8rem;
}

.why_me p {
  margin: 0;
  color: var(--text-grey-color);
  text-align: center;
}

.why_me_cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.why_me_card {
  background-color: var(--white-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.why_me_card_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 5vw;
  width: 5vw;
  background-color: var(--brown-sqare-2-color);
  opacity: 0.3;
  /* color: var(--brown-color, 1); Для иконки */
}

.why_me_card_icon img {
  height: 4vw;
  width: 4vw;
}

.card_title {
  color: var(--brown-dark-color);
  font-weight: 600;
  font-size: 1.3rem;
  white-space: nowrap;
}

/* Стили для секции "Отзывы" */
.reviews {
  background-color: var(--white-background);
}

.reviews_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.rewiews_title {
  color: var(--brown-dark-color);
}

.reviews_slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.reviews_cards {
  display: flex;
  gap: 2rem;
  padding: 0 1.5rem 2rem 1.5rem;
  overflow-y: hidden;
}

.review_card {
  width: 360px;
  background-color: var(--cream-background);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
}

.review_card p {
  color: var(--text-grey-color);
}

.review_card__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review_card__avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
}

.review_card__avatar img {
  object-fit: cover;
  object-position: top;
}

.review_card_title {
  color: var(--brown-dark-color);
  font-weight: 600;
  font-size: 1rem;
}

.review_card__title_content p {
  font-size: 0.9rem;
}

.review_card__stars img {
  width: 1rem;
}

.slider_btn {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: var(--white-background);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  z-index: 10;
}

.slider_left {
  left: -20px;
}

.slider_right {
  right: -20px;
}

.slider_btn img {
  width: 24px;
}

.reviews_btn {
  font-size: 1.25rem;
  padding: 1rem;
}

/* Стили для секции "Фтогалерея" */
.gallery {
  background-color: var(--cream-background);
}

.gallery_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.gallery_title {
  color: var(--brown-dark-color);
}

.gallery_slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.gallery_slider_cards {
  display: flex;
  gap: 2rem;
  padding: 0 1.5rem 2rem 1.5rem;
  overflow-y: hidden;
}

.gallery_slider_card {
  width: 18rem;
  height: 18rem;
  background-color: var(--white-background);
  padding: 0;
  overflow: hidden;
  flex-shrink: 0;
}

.gallery_slider_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.gallery_slider_card:hover img {
  filter: grayscale(0%);
}

/* Стили для секции "Этапы подготовки" */
.steps {
  background-color: var(--white-background);
}

.steps_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.steps_title {
  color: var(--brown-dark-color);
}

.steps_blocks {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.step {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 33rem;
}

.leftside_step {
  align-self: self-start;
}

.rightside_step {
  align-self: self-end;
}

.step_number {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--brown-color);
}

.line {
  position: relative;
  height: 100px;
}

.line::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--brown-color);
}

.step_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.step_title {
  color: var(--brown-color);
  font-weight: 600;
  font-size: 1.25rem;
}

.step_text {
  color: var(--text-grey-color);
}

.step_subtext {
  color: var(--text-grey-color);
  font-size: 0.875rem;
  opacity: 0.7;
}

/* Стили для секции "ФОС" */
.form {
  background-color: var(--brown-dark-color);
  display: flex;
  justify-content: center;
}

.form_block {
  width: 48rem;
  background-color: var(--white-background);
}

.form_title {
  color: var(--brown-dark-color);
}

.form_stroke {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.form_group {
  width: 100%;
}

.form_group__checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form_group__checkbox label {
  margin-bottom: 0;
  font-weight: normal;
}

.form_btn {
  font-size: 1rem;
  padding: 1rem;
  background-color: var(--brown-color);
  color: white;
}

/* Стили для секции "FAQ" */
.faq {
  background-color: var(--cream-background);
}

.faq_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.faq_title {
  color: var(--brown-dark-color);
}

.faq_list {
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq_question {
  background-color: var(--white-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_answer {
  background-color: var(--white-background);
}

.opened_question {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 1rem;
}

.opened_answer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 1rem;
}

.closed {
  display: none;
}

.faq_question span {
  color: var(--brown-dark-color);
  font-size: 1.125rem;
  font-weight: 500;
}

.faq_answer p {
  color: var(--text-grey-color);
}

.faq_toggle_icon {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
}

.faq_toggle_icon::after, .faq_toggle_icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1.5px;
  background: var(--brown-dark-color);
  transition: transform 0.3s ease;
  transform: translateY(-50%);
}

.faq_toggle_icon::after {
  transform: translateY(-50%) rotate(90deg);
}

.opened_question .faq_toggle_icon::after {
  transform: translateY(-50%) rotate(0deg);
}

/* Стили для footer */
.footer {
  background-color: var(--brown-dark-color);
  padding: 3rem 2.5rem;
}

.footer_content {
  display: flex;
  gap: 1rem;
}

.footer_about {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_about p {
  color: var(--white-background-opacity-min);
}

.footer_logo {
  color: var(--white-background);
  font-size: 1.5rem;
}

.footer_links {
  display: flex;
  gap: 1rem;
}

.footer_link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white-background-opacity-max);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.footer_links img {
  width: 1.5rem;
}

.footer_contact {
  width: 50%; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_contact__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white-background);
}

.footer_contact__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.footer_contact__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer_contact__item p {
  color: var(--white-background);
}

.footer_item_icon {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_item_icon img {
  width: 1rem;
}

/* Стили для разрешения экрана 1024px - 1199px */
@media (max-width: 1199px) {
 
  body {
    padding-top: var(--header-height-1024);
  }
  
  .section_title {
    font-size: 2.3rem;
  }
  
  p {
    line-height: 1.1rem;
  }
  
  /* Стили для header */
  header {
    height: var(--header-height-1024);
  }
  
  .logo {
    font-size: 1.1rem;
  }
  
  .header_links {
    gap: 1.5vw;
  }
  
  .header_links a{
    font-size: 0.9rem;
  }
  
  .contact {
    font-size: 1rem;
  }
  
  .contact img {
    height: 1rem;
    width: 1rem;
  }
  
  /* Стили для секции "Обо мне" */
  .about_title {
    margin-bottom: 2.5rem;
  }
  
  .about_content {
    gap: 5vw;
  }
  
  .avatar {
    width: 20vw;
    height: 20vw;
  }
  
  .about_text {
    padding: 2.5vw;
  }
  
  .about_text span {
    font-size: 1.4rem;
  }
  
  .about_text p {
    font-size: 0.9rem;
  }
  
  /* Стили для секции "Почему я?" */  
  .why_me_title {
    margin-bottom: 2rem;
  }
  
  .card_title {
    font-size: 1.6vw;
  }
  
  .why_me_card p {
    font-size: 0.9rem;
  }
 
  /* Стили для секции "Почему я?" */
  .review_card p {
    font-size: 0.9rem;
  }

  .reviews_btn {
    font-size: 1.1rem;
  }

  .why_me_card p {
    font-size: 0.9rem;
  }

  /* Стили для секции "ФОС" */
  .form_block {
    width: 40rem;
  }

  .form_btn {
    font-size: 1.1rem;
  }

  form {
    gap: 1rem;
  }

  /*  Стили для секции "FAQ" */
  .faq_answer {
    font-size: 0.9rem;
  }

  /*  Стили для footer */
  .footer {
    padding: 2rem 2.5rem;
  }

  .footer_logo {
    font-size: 1.5rem;
  }
}

/* Стили для разрешения экрана 768px - 1023px */
@media (max-width: 1023px) {
  
  .section_title {
    font-size: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  form {
    gap: 1.5rem;
  }

  /* Стили для header */   
  .header_links {
    display: none;
  }

  .btn_wrapper {
    display: flex;
  }

  .burger_btn {
    display: flex;
  }

  .logo {
    font-size: 1.1rem;
  }
  
  .contact {
    font-size: 0.8rem;
  }
  
  .contact img {
    height: 0.8rem;
    width: 0.8rem;
  }

  /* Стили для модальных окон и popup */ 
  .popup_form_content {
    padding: 1.5rem;
  }
  
  /* Стили для секции "Обо мне" */
  .about_title {
    margin-bottom: 2rem;
  }
  
  .about_text {
    padding: 4vw;
  }
  
  .about_text span {
    font-size: 1.4rem;
  }
  
  .about_text p {
    font-size: 1rem;
  }

  /* Стили для секции "Почему я?" */ 
  .card_title {
    font-size: 1rem;
  }
  
  .why_me_card p {
    font-size: 0.9rem;
  }

  .why_me_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .why_me_card_icon {
    height: 3.5rem;
    width: 3.5rem;
  }

  .why_me_card_icon img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .card_title {
    font-size: 1rem;
  }
 
  /* Стили для секции "Отзывы" */
  .reviews_btn {
    font-size: 1.1rem;
    padding: 0.8rem;
  }

  /* Стили для секции "ФОС" */
  .form_btn {
    font-size: 1.1rem;
    padding: 0.8rem;
  }

  /*  Стили для footer */
  .footer {
    padding: 2rem 2.5rem;
  }

  .footer_logo {
    font-size: 1.3rem;
  }

  .footer_about p {
    font-size: 0.9rem;
  }

  .footer_contact__content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* Стили для разрешения экрана 320px - 767px */
@media (max-width: 767px) {

  body {
    padding-top: var(--header-height-360);
  }

  /* p {
    line-height: 1.5rem;
    opacity: 0.9;
    margin: 0;
  } */

  /* form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  } */

  /* input, select {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    width: 100%;
  } */

  /* textarea {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border-color: var(--input-border-color);
    width: 100%;
    height: 8rem;
  } */

  /* a {
    text-decoration: none;
    font-family: inherit;
    opacity: 0.9;
  } */

  /* input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    accent-color: var(--brown-color);
  } */

  /* label {
    display: inline-block;
    color: var(--text-grey-color);
    opacity: 0.9;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  } */

  /* .btn {
    font-family:inherit;
    padding: 0.5rem 1rem;
    min-width: 150px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  } */

  /* section {
    padding: 3rem 2.5rem;
  } */

  .section_title {
    font-size: 1.6rem;
  }

  /* .card {
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: var(--shadow);
  } */

  .popup_and_form {
    padding: 1rem;
    gap: 2rem;
  }

  .close_btn {
    position: relative;
    
    top: 20px;
    right: 0px;
  }

  /*Стили для header */
  header {
    height: var(--header-height-360);
    padding: 0 2rem;
  }

  .logo {
    line-height: 1.2;
    font-size: 0.9rem;
  }

  .bar {
    height: 2.3px;
  }
  
  #contact {
    display: none;
  }
  
  #contact_mobile {
    display: flex;
  }
  
  /* Стили для модального окна */ 
  .modal_close {
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .modal_links__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .modal_links__list a {
    font-size: 1rem;
  }

  /* Стили для popup заявки */
  .popup_form {
    display: flex;
  }

  /* .popup_form__close {
    position: relative;
  } */

  /* Стили для popup после отправки */
  .popup_success {
    padding: 2rem;
  }

  .popup_success_title {
    font-size: 1.5rem;
  }

  .popup_success_text {
    font-size: 1.3rem;
    line-height: 1.4;
  }

  .popup_success_btn {
    font-size: 1.4rem;
  }
}