@import url('normalize.css');
@import url('var.css');
@import url('fonts.css');

/* Базовые стили */
body {
  font-family:'Montserrat Regular', sans-serif;
}

p {
  line-height: 1.5rem;
  opacity: 0.9;
  margin: 0;
}

input {
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-radius: 8px;
}

.btn {
  font-family:inherit;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.btn:hover {
  opacity: 0.9;
}

section {
  position: relative;
  box-sizing: border-box;
  font-family:inherit;
  padding: 5rem 2.5rem;
  overflow: hidden;
}

.section_title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  opacity: 0.9;
}

.card {
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

/* Стили для header */
header {
  position: sticky;
  box-sizing: border-box;
  top: 0;
  background: rgba(254, 253, 252, 0.8);
  height: 80px;
  width: 100%;
  padding: 0 2rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-family: 'Pacific Regular';
  color: var(--brown-color);
  line-height: 1.4;
  font-size: 20px;
}

.header_links {
  display: flex;
  gap: 22px;
}

.header_links a{
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-grey-color);
  opacity: 0.9;
}

.header_links a:hover {
  color: var(--brown-color);
}

.contact {
  font-size: 18px;
  background-color: var(--brown-color);
  color: white;
}

.contact img {
  height: 14px;
  width: 14px;
}

/* Стили для секции с банером */
.banner {
  padding: 0;
  background-color: rgb(245 235 224);
  height: 543px;
}

.hero-text {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 1.5rem;
  color: var(--brown-dark-color);
  opacity: 0.8;
}

.square_1 {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 5%;
  left: 10%;
  background-color: var(--brown-sqare-1-color);
  opacity: 0.2;
  border-radius: 40px;
  transform: rotate(25deg);
}

.square_2 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 15%;
  right: 15%;
  background-color: var(--brown-color);
  opacity: 0.1;
  border-radius: 30px;
  transform: rotate(15deg);
}

.square_3 {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: 20%;
  left: 20%;
  background-color: var(--brown-sqare-2-color);
  opacity: 0.15;
  border-radius: 50px;
  transform: rotate(45deg);
}

.square_4 {
  position: absolute;
  width: 350px;
  height: 350px;
  bottom: 10%;
  right: 25%;
  background-color: var(--brown-dark-color);
  opacity: 0.1;
  border-radius: 45px;
  transform: rotate(35deg);
}

.square_5 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 40%;
  left: 30%;
  background-color: var(--brown-color);
  opacity: 0.15;
  border-radius: 25px;
  transform: rotate(60deg);
}

.square_6 {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 30%;
  right: 35%;
  background-color: var(--brown-sqare-2-color);
  opacity: 0.2;
  border-radius: 35px;
  transform: rotate(25deg);
}

.square_7 {
  position: absolute;
  width: 320px;
  height: 320px;
  bottom: 35%;
  right: 15%;
  background-color: var(--brown-sqare-1-color);
  opacity: 0.15;
  border-radius: 40px;
  transform: rotate(15deg);
}

.square_8 {
  position: absolute;
  width: 260px;
  height: 260px;
  bottom: 45%;
  left: 15%;
  background-color: var(--brown-dark-color);
  opacity: 0.1;
  border-radius: 30px;
  transform: rotate(45deg);
}

.main_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_wrapper span{
  position: absolute;
  bottom: 20%;
  color: var(--brown-dark-color);
  opacity: 0.8;
  font-family: inherit;
  font-weight: 700;
  font-size: 120px;
}

.main_wrapper img{
  position: absolute;
  right: 18%;
}

.banner_firstname {
  left: 2%;
  z-index: 0;
}

.banner_secondname {
  right: 2%;
  z-index: 0;
}

/* Стили для секции с бегущей строкой */
.marquee {
  background-color: #F8EBD4;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee_double {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-200%); }
}

.marquee_container {
  display: flex;
  margin: 0 20px;
  overflow: hidden;
}

.marquee_content {
  display: flex;
  align-items: center;
  gap: 3rem;
  color: var(--brown-color);
  font-size: 1.8rem;
  font-weight: 600;
  animation: marquee 20s linear infinite;
  padding-right: 3rem;
}

.bullet {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 10px;
  background-color: var(--brown-color);
}

.set {
  animation: marquee_double 20s linear infinite;
  animation-delay: 10s;
}

/* Стили для секции "Обо мне" */
.about {
  background-color: var(--white-background);
  height: 543px;
  z-index: -2;
}

.about_title {
  margin-bottom: 3rem;
  color: var(--brown-dark-color);
}

.about_content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.avatar {
  box-sizing: border-box;
  display: flex;
  aspect-ratio: 1 / 1;
  width: 16rem;
  height: 16rem;
  background: var(--brown-dark-color);
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-color: var(--brown-sqare-2-color);
  border-width: 4px;
  border-style: solid;
  overflow: hidden;
}

.avatar img {
  object-fit: cover;
  object-position: top;
}

.about_text {
  position: relative;
  width: 60%;
  box-shadow: inset;
}

.about_text span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--brown-color);
  opacity: 0.9;
}

.about_text p {
  color: var(--text-grey-color);
}

.rectangle_1 {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 30%;
  left: 30%;
  background-color: rgba(232, 212, 182, 0.249);
  transform: rotate(12deg);
  border-radius: 100px;
  z-index: -1;
}

/* Стили для секции "Почему я?" */

.why_me {
  background-color: rgb(255 245 225);
}

.why_me_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.why_me_title {
  color: var(--brown-dark-color);
}

.why_me_title__text {
  width: 60%;
  text-align: center;
  margin-bottom: 3rem;
}

.why_me_title__text p {
  margin-bottom: 0.8rem;
}

.why_me p {
  margin: 0;
  color: var(--text-grey-color);
  text-align: center;
}

.why_me_cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.why_me_card {
  background-color: var(--white-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.why_me_card_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  background-color: rgb(232 212 182);
  opacity: 0.3;
  color: var(--brown-color, 1); /* Для иконки*/
}

.why_me_card_icon img {
  width: 3rem;
}

.card_title {
  color: var(--brown-dark-color);
  font-weight: 600;
  font-size: 1.25rem;
}

/* Стили для секции "Отзывы" */
.reviews {
  background-color: var(--white-background);
  min-height: 543px;
}

.reviews_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.rewiews_title {
  color: var(--brown-dark-color);
}

.reviews_slider {
  position: relative;
}

.reviews_cards {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
}

.review_card {
  width: 400px;
  background-color: rgb(255 245 225);
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.review_card p {
  color: var(--text-grey-color);
}

.review_card__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review_card__avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
}

.review_card__avatar img {
  object-fit: cover;
  object-position: top;
}

.review_card_title {
  color: var(--brown-dark-color);
  font-weight: 600;
  font-size: 1rem;
}

.review_card__title_content p {
  font-size: 0.9rem;
}

.review_card__stars img {
  width: 1rem;
}
