@font-face {
  font-family: 'Pacific Regular';
  src: url('./fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('./fonts/Montserrat-Regular.ttf');
}

body {
  margin: 0;
}

/* Стили для блока header */
header {
  position: sticky;
  box-sizing: border-box;
  top: 0;
  background-color: #FEFDFC;
  height: 80px;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Pacific Regular';
  color: rgb(139 69 19);
  line-height: 1.4;
  font-size: 18px;
}

.header_links {
  display: flex;
  gap: 18px;
}

.header_links a{
  text-decoration: none;
  font-family:'Montserrat Regular', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: black;
}

.header_links a:hover {
  color: rgb(139 69 19);
}

.contact {
  font-family:'Montserrat Regular', sans-serif;
  font-size: 18px;
  background-color: rgb(139 69 19);
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact img {
  height: 14px;
  width: 14px;
}

.contact:hover {
  opacity: 0.9;
}

/* Стили для блока с банером */
.banner {
  position: relative;
  background-color: #F5EBE0;
  height: 864px;
  font-family:'Montserrat Regular', sans-serif;
}

.hero-text {
  position: absolute;
  top: 4rem;
  left: 4rem;
  font-size: 1.5rem;
  color: rgb(91 58 41 / 80%);
}

.squares {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.squares_left {
  width: 100px;
  height: 100px;
  background-color: red;
}

.squares_right {
  width: 100px;
  height: 100px;
  background-color: red;
}