:root {
  /* Разрешение */
  /* --desktop-screen-large: 1200px;
  --desktop-screen: 1024px;
  --tablet-screen: 768px;
  --mobile-screen: 360px; */

  /* Базовые цвета */
  --brown-color: rgb(139 69 19);
  --brown-color-opacity: rgb(139 69 19 / 0.5);
  --brown-dark-color: rgb(91 58 41);
  --brown-sqare-1-color: rgb(234 215 195);
  --brown-sqare-2-color: rgb(232 212 182);
  --white-background: rgb(255 255 255);
  --white-background-opacity-min: rgb(255 255 255 / 0.8);
  --white-background-opacity-max: rgb(255 255 255 / 0.1);
  --cream-background: rgb(255 245 225);
  --banner-background: rgb(245 235 224);
  --marquee-background: #F8EBD4;
  --text-grey-color: rgb(55 65 81);
  --input-border-color: rgb(209 213 219);
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-big: 0 10px 20px rgba(0, 0, 0, 0.2);
  --green-color: rgb(166, 198, 111);
  --red-color-warm: rgb(206, 117, 117);

  /* Размеры */
  --header-height: 5rem; /* 80px */
  --header-height-1024: 4rem;
}